/* Style général de la grille */
.grid-pane {
    -fx-background-color: #e0f7fa;
    -fx-padding: 20px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-alignment: center;
}

/* Style des boutons (alignés à droite) */
.button-container {
    -fx-alignment: center-right;
}

.button {
    -fx-background-color: #0288d1;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-pref-width: 200px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #0277bd;
}

/* Style des champs de texte (alignés à gauche) */
.text-field-container {
    -fx-alignment: center-left;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #0288d1;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-pref-width: 200px;
    -fx-alignment: center;
}

/* Style de la zone de texte */
.text-area {
    -fx-background-color: #ffffff;
    -fx-border-color: #0288d1;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
}

/* Style de la table */
.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #0288d1;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-pref-width: 100px;
}

.table-column {
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
}
